/* You can add global styles to this file, and also import other style files */
$font-size: 30px;
$width: 300px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
}

.text-align {
  text-align: center;
}

.summary {
  display: flex;
  justify-content: center;
  .card {
    width: $width;
    margin: 12px;
    box-shadow: 7px 6px 26px -17px rgba(0, 0, 0, 1);
    cursor: pointer;
    transition: 0.3s all;

    &:hover {
      transform: translateY(-4px);
    }

    .card-header {
      font-size: $font-size;
      text-align: center;
    }

    .card-text {
      @extend .card-header;
    }
  }
}
